<!-- contact -->
<section class="contact">
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <h2 class="contact-title">Contact</h2>
                <p class="contact-title-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda eius nam necessitatibus odio officia sint ullam voluptate!
                </p>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-6">
                <form class="contact-form">

                    <div class="form-item">
                        <!--<label for="name">Name</label>-->
                        <input type="text" id="name" placeholder="Name">
                    </div>

                    <div class="form-item">
                        <!--<label for="email">Name</label>-->
                        <input type="email" id="email" placeholder="Email">
                    </div>

                    <div class="form-item">
                        <!--<label for="subject">Subject</label>-->
                        <input type="text" id="subject" placeholder="Subject">
                    </div>

                    <div class="form-item">
                        <!--<label for="message">Name</label>-->
                        <textarea name="message" id="" cols="30" rows="5" placeholder="Message"></textarea>
                    </div>

                    <button type="submit" class="submit-btn">Submit</button>

                </form>
            </div>

            <div class="col-xs-12 col-sm-3">
                <div class="info-block">
                    <h5 class="mini-title">
                        Address
                    </h5>
                    <div class="mini-content">
                        307 5th Ave, 16th Floor, New York, NY 10067
                    </div>
                </div>
                <div class="info-block">
                    <h5 class="mini-title">
                        Phone
                    </h5>
                    <div class="mini-content">
                        277-75-3412
                    </div>
                </div>
                <div class="info-block">
                    <h5 class="mini-title">
                        Fax
                    </h5>
                    <div class="mini-content">
                        277-75-3412
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-3">
                <div class="info-block">
                    <h5 class="mini-title">
                        Email
                    </h5>
                    <div class="mini-content">
                        inf@gmail.com
                    </div>
                </div>
                <div class="info-block">
                    <h5 class="mini-title">
                        Connect
                    </h5>
                    <div class="social-icons">
                        <i class="fa fa-facebook-official"></i>
                        <i class="fa fa-twitter-square"></i>
                        <i class="fa fa-linkedin-square"></i>
                        <i class="fa fa-pinterest-square"></i>
                        <i class="fa fa-vimeo-square"></i>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- contact end -->