<!-- footer -->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-3">
                <h4 class="footer-title">
                    About
                </h4>
                <ul class="footer-menu">
                    <li class="item">Company</li>
                    <li class="item">Jobs</li>
                    <li class="item">Press</li>
                    <li class="item">Engineering</li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-3">
                <h4 class="footer-title">
                    Team Solutions
                </h4>
                <ul class="footer-menu">
                    <li class="item">Marketing</li>
                    <li class="item">Project management</li>
                    <li class="item">Managers</li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-3">
                <h4 class="footer-title">
                    Apps
                </h4>
                <ul class="footer-menu">
                    <li class="item">Integrations</li>
                    <li class="item">IOS</li>
                    <li class="item">Android</li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-3">
                <h4 class="footer-title">
                    Support
                </h4>
                <ul class="footer-menu">
                    <li class="item">Cumstomer success</li>
                    <li class="item">Terms &amp; Privacy</li>
                    <li class="item">Contact us</li>
                    <li class="item">Developers</li>
                </ul>
            </div>

        </div>

        <div class="row">
            <hr>
            <div class="col-xs-12">
                <p class="copy">
                    &copy; 2016 Somecompany.com
                </p>
            </div>
        </div>

    </div>
</footer>
<!-- footer end -->