<!-- our team -->
<section class="our-team">
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <h2 class="our-team-title">Our Team</h2>
                <p class="our-team-title-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate ea illo inventore ipsam ipsum laboriosam libero maxime nisi, nobis numquam obcaecati provident quisquam sed sit? Amet aspernatur autem molestiae nam, natus nihil nobis nostrum odit praesentium quod quos sequi!
                </p>
            </div>
        </div>


        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3">

                <div class="photo">
                    <img src="images/riffraff.jpg" alt="Riff Raff: Founder">
                </div>

                <h4 class="name">
                    Riff Raff
                </h4>

                <h5 class="position">
                    Founder
                </h5>

                <p class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores doloremque dolores ipsum provident quae, quam temporibus?
                </p>

                <div class="social-icons">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">

                <div class="photo">
                    <img src="images/2chainz.jpeg" alt="2 Chainz: Chief technology officer">
                </div>

                <h4 class="name">
                    2 Chainz
                </h4>

                <h5 class="position">
                    Chief technology officer
                </h5>

                <p class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores doloremque dolores ipsum provident quae, quam temporibus?
                </p>

                <div class="social-icons">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">

                <div class="photo">
                    <img src="images/nene.jpeg" alt="NeNe Leakes: Director of marketing">
                </div>

                <h4 class="name">
                    NeNe Leakes
                </h4>

                <h5 class="position">
                    Director of marketing
                </h5>

                <p class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores doloremque dolores ipsum provident quae, quam temporibus?
                </p>

                <div class="social-icons">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">

                <div class="photo">
                    <img src="images/miley.jpg" alt="Miley Cirus: Creative director">
                </div>

                <h4 class="name">
                    Miley Cirus
                </h4>

                <h5 class="position">
                    Creative director
                </h5>

                <p class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores doloremque dolores ipsum provident quae, quam temporibus?
                </p>

                <div class="social-icons">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </div>
            </div>

        </div>

    </div>
</section>

<div class="icons-line">
    <svg viewBox="0 0 76 40" class="nike-icon">
        <use xlink:href="../images/logo-nike.svg#Layer_1"></use>
    </svg>

    <svg viewBox="0 0 188 40">
        <use xlink:href="../images/logo-ms.svg#Layer_1"></use>
    </svg>
    <svg viewBox="0 0 150 40">
        <use xlink:href="../images/logo-github.svg#Layer_1"></use>
    </svg>
</div>
<!-- our team end -->