
<div class="basic-modal" onclick={{action 'closeModal'}}>
    <div class="modal-warpper">
        <div class="modal-inner">
            <div class="modal-body-content">
                <h2 class="modal-body-title">
                    Pricing modal!
                </h2>
                <p class="modal-body-message">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet deserunt dicta dolor excepturi expedita facilis fuga, incidunt, inventore ipsa ipsam iusto laborum quae vel. Accusantium at eligendi exercitationem inventore ipsa, iure, odit porro possimus quas qui ratione repellat tempora, unde.
                </p>
                <button class="btn-ok" onclick={{action 'closeModal'}}>Ok</button>
            </div>
        </div>
    </div>
</div>