<!-- services -->
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="service-title">Services</h2>
                <p class="service-title-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate ea illo inventore ipsam ipsum laboriosam libero maxime nisi, nobis numquam obcaecati provident quisquam sed sit? Amet aspernatur autem molestiae nam, natus nihil nobis nostrum odit praesentium quod quos sequi!
                </p>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-4">
                <div class="icon">
                    <span class="glyphicon glyphicon-tags"></span>
                </div>
                <h4 class="mini-title">
                    Uniq-layouts
                </h4>
                <p class="mini-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi laborum maiores, minus quaerat quia repellat repellendus reprehenderit sit voluptas?
                </p>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="icon">
                    <span class="glyphicon glyphicon-phone"></span>
                </div>
                <h4 class="mini-title">
                    Responsive
                </h4>
                <p class="mini-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi laborum maiores, minus quaerat quia repellat repellendus reprehenderit sit voluptas?
                </p>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="icon">
                    <span class="glyphicon glyphicon-refresh"></span>
                </div>
                <h4 class="mini-title">
                    Ajax transitions
                </h4>
                <p class="mini-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi laborum maiores, minus quaerat quia repellat repellendus reprehenderit sit voluptas?
                </p>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-4">
                <div class="icon">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </div>
                <h4 class="mini-title">
                    E-commerce
                </h4>
                <p class="mini-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi laborum maiores, minus quaerat quia repellat repellendus reprehenderit sit voluptas?
                </p>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="icon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
                <h4 class="mini-title">
                    Unlimited Portfolios
                </h4>
                <p class="mini-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi laborum maiores, minus quaerat quia repellat repellendus reprehenderit sit voluptas?
                </p>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="icon">
                    <span class="glyphicon glyphicon-fire"></span>
                </div>
                <h4 class="mini-title">
                    Powerful
                </h4>
                <p class="mini-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi laborum maiores, minus quaerat quia repellat repellendus reprehenderit sit voluptas?
                </p>
            </div>
        </div>

    </div>
</section>
<!-- services end -->